* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.home-header {
  font-family: "Lato", sans-serif;
  background-image: url("../img/downtown-orlando.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  .home-header .top-info {
    background: #0F1D42;
    height: 50px; }
    .home-header .top-info .contact {
      z-index: 2; }
      .home-header .top-info .contact a {
        color: #F3C35F; }
  .home-header navbar-brand {
    color: #F3C35F; }
  .home-header .nav-link {
    color: #0F1D42;
    font-size: 15px; }
  .home-header .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%; }
  .home-header .logo-title {
    font-size: 35px;
    color: #0F1D42; }
  .home-header .logo-sub {
    font-size: 14px;
    margin-left: 15%;
    color: #F3C35F; }
  .home-header .main-info .header-content {
    padding-top: 200px; }
    .home-header .main-info .header-content .header {
      color: #F3C35F; }
    .home-header .main-info .header-content .home-para {
      width: 90%;
      font-size: 20px; }
    .home-header .main-info .header-content .call-btn {
      color: #F3C35F; }
    .home-header .main-info .header-content .call-btn:hover {
      background: #0F1D42;
      border: none;
      transition-delay: 0.4; }
    .home-header .main-info .header-content .form-title {
      color: #F3C35F; }
    .home-header .main-info .header-content .card {
      background-color: rgba(15, 15, 15, 0.7); }
    .home-header .main-info .header-content .btn {
      color: #F3C35F; }

.news-section {
  height: 130px; }
  .news-section .news-img {
    width: 100px;
    height: 80px; }

.attorneys .david {
  width: 200px;
  height: 200px; }

.attorneys .break {
  width: 40%; }
